html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

@tailwind base;

/* Write your own custom base styles here */

/* TODO: not working */
/* .post-content h1 {
  background-color: red;
  color: blue;
} */

.post-content li {
  list-style-type: "👉";
  padding-inline-start: 1ch;
}

.post-content li li {
  list-style-type: "▪️";
  padding-inline-start: 1ch;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* .post-content h1 {
  @apply text-3xl font-bold my-4 text-gray-900 leading-tight;
} */

.post-content h2 {
  @apply text-2xl font-bold my-3 text-gray-900;
}

.post-content h3 {
  @apply text-lg font-bold my-2 text-gray-900;
}

.post-content p {
  @apply mb-4;
  @apply text-gray-900;
}

.post-content pre {
  @apply shadow-inner;
  font-size: 0.875em !important;
  border-radius: 4px !important;
  padding: 6px;
  margin-bottom: 2rem !important;
  background: #f6f8fa !important;
}

.post-content a {
  @apply underline text-blue-700;
}

.post-content blockquote {
  @apply bg-gray-300 p-2 rounded-md mb-4;
}

.post-content blockquote p:last-child {
  @apply mb-0;
}

.post-content ul {
  @apply list-disc list-outside m-0 p-0 ml-4;
}

.post-content li {
  @apply mb-4 pl-3;
}

.post-content ul ul {
  @apply ml-5 mt-4;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
/* Your own custom utilities */

/* TODO: Why I can't write .post-content here? */
h1 {
  @apply text-3xl font-bold my-4 text-gray-900 leading-tight;
}
